<%- include('partials/header'); -%>

    <div id="body">
      <div class="container mobile-margin">
        <img class="image" src="images/portada.png" alt="Maripojo">
      </div>
      <div class="container text-center">
        <a class="p-0" id="expo-link" href="/portfolio">naturaleza humana</a>
      </div>
    </div>

<%- include('partials/footer'); -%>
