<%- include('partials/header'); -%>

    <div id="body">
      <div class="container ">
        <h5 class="text-center">Thank you for reaching out! Looking forward to receive your message.</h5>
      </div>
    </div>

<%- include('partials/footer'); -%>
