/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Start of CSS customization */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: url('../images/noise.svg');
}

#container {
  min-height: 100%;
  position: relative;
}

#header {
  padding: 10px;
}

#body {
  padding: 10px;
  padding-bottom: 60px;
  /* Height of the footer */
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 5vw;
  font-style: italic;
  font-weight: 800;
  color: #B3B3B3;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;
  padding: 1%;
  margin: 1%;
}

.head {
  text-align: center;
  padding-bottom: 2%;
  margin: 5vh;
}

.container {
  max-width: 100%;
  padding: 3%;
  margin: auto;
}

.image {
  display: block;
  object-fit: scale-down;
  height: 40vh;
  padding: 20%;
  margin: auto;
}

/* .icon {
  display: block;
  padding: 2%;
  width: 8%;
  margin: 5% auto;
  opacity: 0.6;
}

.icon:hover {
  transition: .5s;
  opacity: 1;
} */
.text {
  text-align: center;
  padding: 2%;
  margin: 1%;
  max-width: 100%;
  height: auto;
  margin: auto;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

footer p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 0.7em;
  color: #B3B3B3;
  text-align: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .image {
    width: 45%;
    padding: 4%;
  }

  /* .icon {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 3%;
    width: 6%;
  } */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .image {
    width: 25%;
    padding: 1.5%;
  }

  /* .icon {
    padding: 2.5%;
    width: 5%;
  } */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .image {
    width: 15%;
    padding: 1%;
  }

  /* .icon {
    padding: 1.7%;
    width: 4%;
  } */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .image {
    width: 15%;
    padding: 1%;
  }

  /* .icon {
    padding: 2%;
    width: 3%;
  } */
}